#about .app__wrapper {
    padding: 8rem 2rem;
    @media screen and (max-width: 480px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__profiles {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 2rem;

    &-item {
        width: 320px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem 1rem 2rem 1rem;
        background-color: var(--card-alt);
        border-radius: 0.5rem;
        border: 1px solid var(--card-border-alt);
        box-shadow: 0 18px 45px var(--shadow);

        p {
            color: var(--text-alt);
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 15px;
            object-fit: cover;
        }

        @media screen and (min-width: 2000px) {
            width: 370px;
            margin: 2rem 4rem;

            img {
                height: 320px;
            }
        }
    }
}
