#about .app__wrapper {
    padding: 9rem 4rem 2rem;

    @media screen and (max-width: 480px) {
        padding: 8rem 1rem 4rem;
    }

    @media screen and (max-width: 360px) {
        padding: 7rem 1rem 4rem;
    }
}

#about .copyright {
    display: none;
}

.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: 360px) {
        gap: 2.5rem;
    }
}

.app__bio {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem 2rem;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        padding: 2rem;
    }

    &-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        img {
            max-width: 400px;
            width: 100%;
            border-top-right-radius: 2rem;
            border-bottom-left-radius: 2rem;
            box-shadow: var(--shadow-soft);
            background-color: var(--bg-alt);
            object-fit: cover;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1.4;

        p {
            @media screen and (max-width: 480px) {
                font-size: 1.1rem;
            }
        }

        @media screen and (max-width: 1024px) {
            flex: 2;
        }
    }

    &-stats {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
        margin-top: 1rem;

        @media screen and (max-width: 1024px) {
            row-gap: 2rem;
            justify-content: center;
        }

        @media screen and (max-width: 900px) {
            gap: 1.5rem;
        }
    }

    &-stat {
        display: flex;
        flex-direction: row;
        min-width: 120px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1024px) {
            min-width: 180px;
        }

        @media screen and (max-width: 480px) {
            min-width: 90px;
            max-width: 120px;
        }

        &-value {
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--text-main);
        }

        &-sign {
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--primary);
        }

        &-label {
            flex-basis: 100%;
            font-size: 0.9rem;
            color: var(--text-alt);
            text-align: center;
        }
    }
}
