#contact .app__wrapper {
    padding: 9rem 4rem 2rem;

    @media screen and (max-width: 768px) {
        padding: 4rem 5rem 1rem;
        gap: 2rem;
    }

    @media screen and (max-width: 600px) {
        padding: 8rem 1rem 1rem;
        gap: 2rem;
    }

    @media screen and (max-width: 360px) {
        padding: 6rem 1rem 1rem;
    }
}

.app__contact {
    flex: 1;
    width: 100%;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: 360px) {
        gap: 2.5rem;
    }

    &-cards {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 3rem;

        @media screen and (max-width: 1024px) {
            width: 66%;
            justify-content: space-between;
        }

        @media screen and (max-width: 768px) {
            width: 90%;
            justify-content: space-between;
            gap: 2rem;
        }

        @media screen and (max-width: 600px) {
            gap: 1rem;
        }
    }

    &-card {
        min-width: 290px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--bg-alt);
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 768px) {
            min-width: auto;
            flex: 1;
        }

        @media screen and (max-width: 360px) {
            padding: 1rem 0.5rem;
        }

        svg {
            width: 36px;
            height: 36px;

            @media screen and (max-width: 360px) {
                width: 32px;
                height: 32px;
            }
        }

        p {
            font-weight: 500;
        }
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 1rem;

            @media screen and (min-width: 601px) and (max-width: 768px) {
                font-size: 1rem;
            }

            @media screen and (max-width: 480px) {
                font-size: 0.8rem;
            }
        }
        &:hover {
            box-shadow: 0 0 12px var(--shadow-soft);
        }
    }

    &-form {
        width: 60%;
        flex-direction: column;
        gap: 1.5rem;

        div {
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            input,
            textarea {
                width: 100%;
                padding: 0.95rem 1.25rem;
                border: none;
                border-radius: 7px;
                background-color: var(--bg-alt);
                font-family: var(--font-base);
                color: var(--text-main);
                outline: none;

                @media screen and (max-width: 360px) {
                    font-size: 1rem;
                }
            }

            textarea {
                height: 170px;
            }

            &:hover {
                box-shadow: 0 0 12px var(--shadow-soft);
            }

            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }

        button {
            padding: 1rem 2rem;
            border-radius: 10px;
            border: none;
            background-color: var(--button-bg);
            font-weight: 500;
            color: var(--button-text);
            outline: none;
            margin-top: 2rem;
            font-family: var(--font-base);
            transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
            cursor: pointer;

            &:hover {
                background-color: var(--button-hover);
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            @media screen and (max-width: 360px) {
                margin-top: 1rem;
            }
        }

        @media screen and (max-width: 1024px) {
            width: 66%;
        }

        @media screen and (max-width: 768px) {
            width: 90%;
        }

        @media screen and (max-width: 480px) {
            gap: 1rem;
        }
    }
}
