#testimonials .app__wrapper {
    padding: 8rem 1rem 2rem;

    @media screen and (max-width: 1024px) {
        padding: 8rem 1rem 4rem;
    }

    @media screen and (max-width: 768px) {
        padding: 8rem 2rem 4rem;
    }

    @media screen and (max-width: 600px) {
        padding: 8rem 1rem 4rem;
    }

    @media screen and (max-width: 360px) {
        padding: 6rem 1rem 4rem;
    }
}

#testimonials .copyright {
    display: none;
}

.app__testimonial {
    flex: 1;
    width: 100%;
    flex-direction: column;

    @media screen and (max-width: 1024px) {
        gap: 3rem;
    }

    @media screen and (max-width: 360px) {
        gap: 2.5rem;
    }

    &-item {
        width: 60%;
        min-height: 320px;
        background-color: var(--bg-alt);
        display: flex;
        flex-direction: row;
        padding: 2rem;
        border-radius: 1rem;
        border: 1px solid var(--card-border-alt);
        box-shadow: 0px 0px 30px var(--shadow-soft);
        margin-top: 4rem;
        transition: all 0.3s ease-in-out;

        @media screen and (min-width: 2000px) {
            min-height: 450px;

            img {
                width: 150px;
                height: 150px;
            }
        }

        @media screen and (max-width: 1024px) {
            margin-top: 0;
        }

        @media screen and (max-width: 768px) {
            width: 80%;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            margin-top: 0;
            width: 80%;
        }

        @media screen and (max-width: 480px) {
            margin-top: 0;
            width: 90%;
        }

        @media screen and (max-width: 360px) {
            padding: 1rem;
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &-content {
        flex: 1;
        height: 100%;
        padding: 0 2rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        p {
            font-size: 1.25rem;
            line-height: 2rem;
            color: var(--text-alt);
            font-family: var(--font-base);

            @media screen and (min-width: 2000px) {
                font-size: 2rem;
                line-height: 3.5rem;
            }

            @media screen and (max-width: 360px) {
                font-size: 1rem;
            }
        }

        h4 {
            font-weight: 600;
            color: var(--primary);
            margin-top: 2rem;
        }

        h5 {
            font-weight: 400;
            color: var(--text-alt);
            margin-top: 5px;
        }

        @media screen and (max-width: 600px) {
            margin-top: 2rem;
            padding: 0;
        }
    }

    &-btns {
        flex-direction: row;
        margin-top: 1rem;

        @media screen and (max-width: 1024px) {
            margin-top: 0;
        }

        @media screen and (max-width: 600px) {
            margin-top: 0;
        }

        div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--bg-alt);
            margin: 1rem;
            transition: all 0.3s ease-in-out;

            svg {
                width: 20px;
                height: 20px;
                color: var(--primary);
            }

            &:hover {
                background-color: var(--primary);

                svg {
                    color: var(--bg-alt);
                }
            }

            @media screen and (min-width: 2000px) {
                width: 100px;
                height: 100px;

                svg {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }

    &-brands {
        width: 80%;
        flex-wrap: wrap;
        margin-top: 2rem;

        @media screen and (max-width: 1024px) {
            margin-top: 0;
            gap: 2rem;
        }

        @media screen and (max-width: 768px) {
            width: 72%;
            gap: 3rem;
        }

        @media screen and (max-width: 600px) {
            margin-top: 0;
        }

        div {
            width: 150px;
            margin: 1.5rem;
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                filter: grayscale(1);
            }

            &:hover {
                img {
                    filter: grayscale(0);
                }
            }

            @media screen and (min-width: 2000px) {
                width: 210px;
                margin: 2rem;
            }

            @media screen and (max-width: 1024px) {
                margin: 0;
            }

            @media screen and (max-width: 600px) {
                width: 120px;
            }
        }
    }
}
