#home {
    position: relative;
    background: url('../../assets/bgIMG.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    &.dark-theme {
        position: relative;
        background: url('../../assets/bgDark.webp');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
    }

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 6rem 2rem 0rem;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (min-width: 1200px) {
        padding: 6rem 4rem 0rem;
        gap: 3rem;
    }

    @media screen and (max-width: 1024px) {
        padding: 8rem 4rem 1rem;
        gap: 2rem;
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        padding: 8rem 1rem 2rem;
        gap: 2rem;
    }

    @media screen and (max-width: 480px) {
        padding: 10rem 1rem 2rem;
        gap: 3rem;
    }

    @media screen and (max-width: 360px) {
        padding: 6rem 1rem 2rem;
        gap: 1rem;
    }

    &-info {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 2rem;
        text-align: center;
        color: var(--text-main);

        h1 {
            font-size: 3rem;
            font-weight: 600;

            span {
                font-size: 1.75rem;
                font-weight: 400;
            }

            @media screen and (max-width: 600px) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: 480px) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: 480px) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 1rem 0;
            line-height: 1.5;
            color: var(--text-alt);

            @media screen and (max-width: 480px) {
                font-size: 1.25rem;
            }

            @media screen and (max-width: 360px) {
                font-size: 1.2rem;
            }
        }

        @media screen and (min-width: 1200px) {
            width: 100%;
            align-items: flex-start;
            text-align: left;
            margin: 0;
            padding-left: 4rem;
            flex: 1.2;
        }

        @media screen and (max-width: 1024px) {
            margin: 0;
            padding: 0 6rem;
        }

        @media screen and (max-width: 480px) {
            margin: 0;
            padding: 0 2rem;
            gap: 1rem;
        }

        @media screen and (max-width: 360px) {
            padding: 0 1rem;
            gap: 0;
        }
    }

    &-tech {
        flex: 0.75;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 100%;
        margin-left: 0;

        div {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--bg);
            box-shadow: 0px 0px 20px var(--shadow-soft);

            img {
                width: 60%;
                height: 'auto';
            }
        }

        div:nth-child(1) {
            width: 90px;
            height: 90px;

            @media screen and (max-width: 480px) {
                width: 70px;
                height: 70px;
            }
        }

        div:nth-child(2) {
            margin: 1.5rem;
            width: 120px;
            height: 120px;

            @media screen and (max-width: 480px) {
                width: 100px;
                height: 100px;
            }
        }

        div:nth-child(3) {
            width: 80px;
            height: 80px;

            @media screen and (max-width: 480px) {
                width: 60px;
                height: 60px;
            }
        }

        @media screen and (min-width: 2000px) {
            div:nth-child(2) {
                width: 200px;
                height: 200px;
            }

            div:nth-child(3) {
                width: 140px;
                height: 140px;
            }

            div:nth-child(1) {
                width: 100px;
                height: 100px;
            }
        }

        @media screen and (max-width: 1200px) {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                margin: 1rem;
            }
        }
    }

    &-img {
        flex: 1.2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;

        img {
            width: 90%;
            object-fit: contain;
            z-index: 1;

            @media screen and (max-width: 1024px) {
                width: 42%;
            }

            @media screen and (max-width: 768px) {
                width: 66%;
            }

            @media screen and (max-width: 600px) {
                width: 280px;
            }

            @media screen and (max-width: 480px) {
                width: 90%;
            }
        }

        @media screen and (max-width: 480px) {
            padding-top: 1rem;
        }
    }
}
