#home {
    position: relative;
    background: url('../../assets/bgIMG.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    &.dark-theme {
        background: url('../../assets/bgDark.jpg');
    }

    // disable the default padding styles
    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 6rem 2rem 0rem;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 450px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-info {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 2rem;
    text-align: center;
    color: var(--text-main);

    h1 {
        font-size: 48px;
        font-weight: 600;

        span {
            font-size: 30px;
            font-weight: 400;
        }

        @media screen and (max-width: 480px) {
            font-size: 36px;
        }
    }

    p {
        font-size: 24px;
        font-weight: 400;
        margin: 1rem 0;
        line-height: 1.5;
        color: var(--text-alt);

        @media screen and (max-width: 480px) {
            font-size: 22px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
        /* justify-content: flex-start; */
        align-items: flex-start;
        /* margin: 0 0 0 4rem; */
        text-align: left;
    }
}

.app__header-tech {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;

    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg);
        box-shadow: 0px 0px 20px var(--shadow-soft);

        img {
            width: 60%;
            height: 'auto';
        }
    }

    // tech with different height & width

    div:nth-child(1) {
        width: 90px;
        height: 90px;

        @media screen and (max-width: 480px) {
            width: 70px;
            height: 70px;
        }
    }

    div:nth-child(2) {
        margin: 1.5rem;
        width: 120px;
        height: 120px;

        @media screen and (max-width: 480px) {
            width: 100px;
            height: 100px;
        }
    }

    div:nth-child(3) {
        width: 80px;
        height: 80px;

        @media screen and (max-width: 480px) {
            width: 60px;
            height: 60px;
        }
    }

    @media screen and (min-width: 2000px) {
        div:nth-child(2) {
            width: 200px;
            height: 200px;
        }

        div:nth-child(3) {
            width: 140px;
            height: 140px;
        }

        div:nth-child(1) {
            width: 100px;
            height: 100px;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;

        div {
            margin: 1rem;
        }
    }
}

.app__header-img {
    flex: 1.2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 360px;
        object-fit: contain;
        z-index: 1;
        border-radius: 50%;

        @media screen and (max-width: 480px) {
            width: 256px;
        }
    }

    @media screen and (max-width: 1200px) {
        margin: 2rem 0;
    }
}
