.app {
    background-color: var(--bg);
    font-family: var(--font-base);
}

.app__whitebg {
    background-color: var(--bg-alt);
}

.app__primarybg {
    background-color: var(--bg);
}

.app__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;

    @media screen and (max-width: 480px) {
        padding: 4rem 1rem 2rem;
    }
}

.copyright {
    width: 100%;
    padding: 2rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
        text-transform: uppercase;
        color: var(--text-dark);
        font-size: 1rem;

        &:last-child {
            font-size: 0.8rem;
        }
    }
}

.head-text {
    font-size: 2.25rem;
    font-weight: 800;
    text-align: center;
    color: var(--text-dark);
    //text-transform: capitalize;

    span {
        color: var(--primary);
    }

    @media screen and (min-width: 2000px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

.p-text {
    font-size: 1.2rem;
    text-align: left;
    color: var(--text-main);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
        font-size: 1.75rem;
    }
}

.bold-text {
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-dark);
    text-align: left;

    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
    }
}

.app__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--card-bg);
        margin: 0.25rem 0;
        border: 1px solid var(--card-border);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        a {
            width: 15px;
            height: 15px;
        }

        svg {
            width: 15px;
            height: 15px;
            color: var(--text-alt);
        }

        &:hover {
            background-color: var(--primary);
            border-color: var(--primary);

            svg {
                color: var(--bg-alt);
            }
        }

        @media screen and (min-width: 2000px) {
            width: 70px;
            height: 70px;
            margin: 0.5rem 0;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.app__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    .app__navigation-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--text-light);
        margin: 0.5rem;
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &.active-dot {
            background-color: var(--primary);
        }

        @media screen and (min-width: 2000px) {
            width: 20px;
            height: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .app__navigation,
    .app__social {
        display: none;
    }

    .copyright {
        padding: 2rem;
    }
}
